@model ComputerServiceOnlineShop.ViewModels.OfferViewModels.AddOfferViewModel
@{
    ViewData["Title"] = "Add Offer";
}

@section Styles {
    <link rel="stylesheet" href="~/css/auction-styles.css" asp-append-version="true" />
}

<div class="container mt-3">
    <h3 class="fw-bold ps-2">Adding Offer</h3>
    <form asp-action="AddOffer" method="post" enctype="multipart/form-data" novalidate>
        @Html.AntiForgeryToken()

        <div class="col-md-12 d-flex justify-content-end">
            <div class="row">
                <div class="col-auto">
                    <label class="form-check-label">
                        Public
                        <i class="material-icons-round align-middle"></i>
                    </label>
                </div>
                <div class="form-switch form-check col-auto">
                    <input class="form-check-input validate" type="checkbox" asp-for="IsOfferPrivate" />
                    <label class="form-check-label">
                        <i class="material-icons-round align-middle"></i>
                        Private
                    </label>
                </div>
            </div>
        </div>

        <div class="midesection-style mb-2">
            <div class="row">
                <div class="col-12">
                    <h7 class="fw-bold">Offer Info</h7>
                    <div class="progress" style="height: 20%" role="progressbar">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 midesection-style">
            <div class="row">
                <h5 class="fw-bold">Pictures*</h5>
                <label for="pictures" class="form-label">Add some photos of your product</label>
                <div class="col-7">
                    <input class="form-control" type="file" asp-for="UploadedImages" id="pictures" multiple accept="image/*" />
                </div>
                <div class="col-auto">
                    <button type="button" class="btn custom-button" onclick="clearPictures()">Clear Photos</button>
                </div>
            </div>
            <div>
                <span asp-validation-for="UploadedImages" class="text-danger"></span>
                <span class="text-danger">@Html.ValidationMessage("WrongFileType")</span>
            </div>
        </div>

        <div class="mb-3 midesection-style">
            <div class="col-12 col-lg-7">
                <h5 class="fw-bold">Title*</h5>
                <label for="title" class="form-label">Tell buyers, what are you selling, mark, model or color</label>
                <input class="form-control" asp-for="ProductName" type="text" id="title" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 midesection-style">
            <div class="row">
                <h5 class="fw-bold">Category and Condition*</h5>
                <label class="form-label">Choose category and condition of your item</label>
                <div class="col-12 col-lg-6">
                    <select class="form-select" asp-for="SelectedProductCategory" asp-items="Model.ProductCategoriesSelectionList">
                        <option selected disabled>Select Category</option>
                    </select>
                    <span asp-validation-for="SelectedProductCategory" class="text-danger"></span>
                </div>
                <div class="col-12 col-lg-6 mt-2 mt-lg-0">
                    <select class="form-select" asp-for="SelectedProductCondition" asp-items="Model.ProductConditionsSelectList">
                        <option selected disabled>Select Condition</option>
                    </select>
                    <span asp-validation-for="SelectedProductCondition" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="mb-3 midesection-style">
            <div class="row">
                <h5 class="fw-bold">Price and Quantity*</h5>
                <div class="col-12 col-lg-6">
                    <div class="input-group">
                        <span class="input-group-text">PLN</span>
                        <input type="number" class="form-control" asp-for="Price" step="0.01" />
                        <span class="input-group-text">.00</span>
                    </div>
                    <div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-lg-6 mt-2 mt-lg-0">
                    <div class="input-group">
                        <input type="number" class="form-control" asp-for="StockQuantity" />
                        <span class="input-group-text">PCS</span>
                    </div>
                    <div>
                        <span asp-validation-for="StockQuantity" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 midesection-style">
            <div class="col-12 col-lg-7">
                <h5 class="fw-bold">Description*</h5>
                <label class="form-label">Give detailed info about item, to avoid customer questions</label>
                <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 midesection-style">
            <div class="col-12 col-lg-7">
                <h5 class="fw-bold mb-2">Available Delivery Methods*</h5>
                <h5>Inpost Parcel Lockers</h5>
                @if (Model.ParcelLockerDeliveriesList != null)
                {
                    foreach (var deliveryType in Model.ParcelLockerDeliveriesList)
                    {
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="radio"
                                   name="SelectedParcelLocker"
                                   value="@deliveryType.Id"
                                   @(Model.SelectedParcelLocker == deliveryType.Id ? "checked" : "") />
                            <label class="form-check-label">
                                @deliveryType.Title <span class="text-secondary"> - @deliveryType.Price PLN</span>
                            </label>
                        </div>
                    }
                }
                <span asp-validation-for="SelectedParcelLocker" class="text-danger"></span>
            </div>

            <h5 class="mt-3">Other Delivery Methods*</h5>
            @if (Model.OtherDeliveriesSelectedList != null)
            {
                foreach (var option in Model.OtherDeliveriesSelectedList)
                {
                    <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               name="SelectedOtherDeliveries"
                               value="@option.Value"
                               @(Model.SelectedOtherDeliveries.Contains(Convert.ToInt32(option.Value)) ? "checked" : "") />
                        <label class="form-check-label">
                            @option.Text
                        </label>
                    </div>
                }
            }
            <span asp-validation-for="SelectedOtherDeliveries" class="text-danger"></span>
        </div>

        <div class="mb-3 midesection-style text-end">
            <div class="col-12">
                <button type="submit" class="btn submit-btn">Place offer</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/auction-scripts.js"></script>

    <script>
        function clearPictures() {
            $('#pictures').val('');
        }
    </script>
}

