@using ComputerServiceOnlineShop.ViewModels.OfferViewModels
@model OfferBrowserViewModel
@{
    ViewData["Title"] = "Auction Browser";
}
@section Styles {
    <link rel="stylesheet" href="~/css/offer-browser-styles.css" />
}
<div class="container mt-3">
    @{
        var searchPhrase = Context.Request.Query["SearchPhrase"];
        if (!string.IsNullOrWhiteSpace(searchPhrase))
        {
            <h3 class="mb-3">Searching "@searchPhrase"</h3>
        }
        else
        {
            <h3 class="mb-3">Offers found: @Model.Items.Count</h3>
        }
    }
    <div class="row g-3">
        <!-- Main Content -->
        <div class="col-12">
            <div class="mb-3">

                <form method="get" asp-controller="Offer" asp-action="OfferBrowser">

                    <input type="hidden" name="SearchPhrase" value="@Model.Filter.SearchPhrase" />
                    <input type="hidden" name="CategoryId" value="@Model.Filter.CategoryId" />

                    <div class="row">
                        <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                            <select name="DeliveryOption" class="form-select border-secondary-subtle w-100 h-100" asp-for="@Model.Filter.DeliveryOption" asp-items="Model.DeliveryOptions" onchange="this.form.submit()">
                                <option selected disabled>Delivery Type</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-sm-0">
                            <h6 class="mb-1">Price (PLN)</h6>
                            <div class="d-flex">
                                <input name="PriceFrom" type="text"
                                       value="@Model.Filter.PriceFrom"
                                       data-original-value="@Model.Filter.PriceFrom"
                                       class="form-control text-center border-secondary-subtle"
                                       onfocus="storeOriginalValue(this)"
                                       onblur="submitIfChanged(this)" />
                                <span class="ms-2 me-2">__</span>
                                <input name="PriceTo"
                                       type="text"
                                       value="@Model.Filter.PriceTo"
                                       data-original-value="@Model.Filter.PriceTo"
                                       class="form-control text-center border-secondary-subtle"
                                       onfocus="storeOriginalValue(this)"
                                       onblur="submitIfChanged(this)" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <select name="SortOption" class="form-select border-secondary-subtle w-100 h-100" asp-for="@Model.Filter.SortOption" asp-items="@Model.SortingOptions" onchange="this.form.submit()">
                                <option selected disabled>Sorting options</option>
                            </select>
                        </div>
                    </div>
                </form>

            </div>
            <div class="row" id="offerResults">
                @if (Model.Items.Count > 0)
                {
                    @foreach (var offer in Model.Items)
                    {
                        <div class="col-12">
                            <div class="card mb-3 shadow p-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="@offer.ImageUrl" class="img-fluid offer-browser-image" alt="Product Image">
                                    </div>
                                    <div class="col-md-5 d-flex flex-column">
                                        <div>

                                            <a href="@Url.Action("ShowOffer", "Offer", new { id = offer.Id })" class="offer-link ">
                                                <h5 class="card-title mt-3 mt-md-0 fw-bold">@offer.Title</h5>
                                            </a>
                                            @for (int j = 0; j < 5; j++)
                                            {
                                                <i class="fa-solid fa-star"></i>
                                            }
                                        </div>
                                        <div>
                                            <ul class="ps-3 mb-0">
                                                <li><span class="fw-bold">Condition:</span> @offer.Condition</li>
                                                <li><span class="fw-bold">Category:</span> @offer.Category</li>
                                                <li><span class="fw-bold">Added To Shop:</span> @offer.DateCreated.ToString("dd-MM-yyyy")</li>
                                                <li>
                                                    <div><span class="fw-bold">Description:</span></div>
                                                    <div class="description-preview">
                                                        @offer.Description
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-start d-flex flex-column justify-content-between">
                                        <h5 class="fw-bold mt-3 mt-md-0">Price: @offer.Price PLN</h5>
                                        <p>
                                            Sells and sends:
                                            <br><span class="fw-bold">@offer.SellerName</span>
                                        </p>
                                        <p>
                                            Available: <span class="fw-bold">@offer.QuantityAvailable</span>
                                        </p>
                                        @if (User.Identity?.Name != offer.SellerName)
                                        {
                                            <form method="post">
                                                @Html.AntiForgeryToken()
                                                <button class="btn custom-button mt-2 w-100 addToCartButton" type="submit" data-id="@offer.Id">To Cart</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <a class="btn custom-button mt-2 w-100" href="@Url.Action("EditOffer", "Offer", new { id = offer.Id })">Edit</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    @await Html.PartialAsync("_EmptyOfferBrowser")
                }
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/offer-scripts.js"></script>
}
