@using ComputerServiceOnlineShop.ViewModels.OfferViewModels
@model IEnumerable<OfferBrowserViewModel>
@{
    ViewData["Title"] = "Auction Browser";
}
@section Styles {
<link rel="stylesheet" href="~/css/offer-browser-styles.css"  />
}
<div class="container mt-3">
    <h3 class="fw-bold mb-3">Searching "Rtx 3070"</h3>
    <div class="row g-3">
        <!-- Main Content -->
        <div class="col-12">
            <div class="mb-3">
                <form>

                    <div class="row">
                        <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                            <select class="form-select border-secondary-subtle w-100 h-100">
                                <option selected disabled>Delivery Type</option>
                                <option value="1">Inpost Parcel Locker</option>
                                <option value="2">Ups Courier</option>
                                <option value="3">Inpost Courier</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-sm-0">
                            <h6 class="mb-1">Price (PLN)</h6>
                            <div class="d-flex">
                                <input type="text" class="form-control text-center border-secondary-subtle">
                                <span class="ms-2 me-2">__</span>
                                <input type="text" class="form-control text-center border-secondary-subtle">
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <select class="form-select border-secondary-subtle w-100 h-100">
                                <option selected disabled>Sorting options</option>
                                <option value="1">Price - from highest</option>
                                <option value="2">Price - from lowest</option>
                                <option value="3">Rating - for highest</option>
                                <option value="3">Rating - for lowest</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                @foreach(var offer in Model)
                {
                    <div class="col-12">
                        <div class="card mb-3 shadow p-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="@offer.ImageUrl" class="img-fluid offer-browser-image" alt="Product Image">
                                </div>
                                <div class="col-md-5 d-flex flex-column">
                                    <div>
                                        <a href="@Url.Action("ShowOffer", "Offer", new { id = offer.Id })" class="offer-link ">
                                            <h5 class="card-title mt-3 mt-md-0 fw-bold">@offer.Title</h5>
                                        </a>
                                        @for (int j = 0; j < 5; j++)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                        }
                                    </div>
                                    <div>
                                        <ul class="ps-3 mb-0">
                                            <li><span class="fw-bold">Condition:</span> @offer.Condition</li>
                                            <li><span class="fw-bold">Category:</span> @offer.Category</li>
                                            <li><span class="fw-bold">Added To Shop:</span> @offer.DateCreated</li>
                                            <li>
                                                <div><span class="fw-bold">Description:</span></div>
                                                <div class="description-preview">
                                                    @offer.Description
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 text-start d-flex flex-column justify-content-between">
                                    <h5 class="fw-bold mt-3 mt-md-0">Price: @offer.Price PLN</h5>
                                    <p>
                                        Sells and sends:
                                        <br><span class="fw-bold">@offer.SellerName</span>
                                    </p>
                                    <p>
                                        Available: <span class="fw-bold">@offer.QuantityAvailable</span>
                                    </p>
                                    <button class="btn custom-button mt-2 w-100">To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </div>
            
        </div>
    </div>
</div>
