@model ComputerServiceOnlineShop.ViewModels.SingleOfferViewModel;
@{
    ViewData["Title"] = "Auction";
}
@section Styles {
    <link rel="stylesheet" href="~/css/auction-styles.css" asp-append-version="true" />
}
<div class="container  mt-3">
    <div class="row g-2">
        <div class="col-12 col-lg-8 midesection-style">
            <span class="mb-2"><span class="fw-bold">Condition: </span>@Model.Condition</span>
            <span class="mb-2"><span class="fw-bold">Created: </span>@Model.DateCreated</span>
            <h2>@Model.Title</h2>
            @for (int i = 0; i < 5; i++)
            {
                <i class="fa-solid fa-star"></i>
            }
            <div class="image-container mt-3 mb-3">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.ProductImages.Count; i++)
                        {
                            var isActive = i == 0 ? "active" : "";
                            <div class="carousel-item @isActive">
                                <img src="@Url.Content(Model.ProductImages[i])" class="d-block w-100" alt="offer-image">
                            </div>
                        }
                    </div>
                    @if (Model.ProductImages.Count > 1)
                    {
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    }
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-12 col-lg-3 midesection-style">
            <p>
                Sells and sends:
                <br />
                <span class="fw-bold">@Model.Seller</span>
            </p>
            <hr />
            <h3 class="fw-bold">@Model.Price PLN</h3>
            <div class="row mb-2">
                <div class="col-3">
                    <input type="text" value="1" class="form-control text-center">
                </div>
                <div class="col-9">
                    <button type="submit" class="btn custom-button w-100">To Cart</button>
                </div>
            </div>
            <p>Available: @Model.StockQuantity</p>
            <hr />
            <p>
                <strong>Delivery Types</strong>
            </p>
            @foreach (var item in Model.AvaliableDeliveryTypes)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="deliveryRadio">
                    <label class="form-check-label" for="flexRadioDefault1">
                        @item.Title - <span class="text-dark">@item.Price PLN</span>
                    </label>
                </div>
            }
            <hr />

            <p>
                <strong>Sender Location</strong>
            </p>
            <strong>Place:</strong> @Model.Place <br />
            <strong>Postal City:</strong>@Model.PostalCity <br />
            <strong>Postal Code:</strong>@Model.PostalCode

        </div>
    </div>
    <div class="row g-2 mt-2">
        <div class="col-12 midesection-style">
            <h6 class="mb-2 fw-bold">Product Description</h6>
            @Model.Description
        </div>
    </div>
</div>