@model CSOS.UI.ViewModels.OfferViewModels.OfferIndexViewModel
@{
    ViewData["Title"] = "Offer Browser";
}

@section Styles {
    <link rel="stylesheet" href="~/css/offer-browser-styles.css" />
}

<div class="container mt-3">
    @{
        var searchPhrase = Context.Request.Query["SearchPhrase"];
        if (!string.IsNullOrWhiteSpace(searchPhrase))
        {
            <h3 class="mb-3">Searching "@searchPhrase"</h3>
        }
    }
    <div class="row g-3">
        <!-- Main Content -->
        <div class="col-12">
            <div class="mb-3 mt-3">

                @* Form for Filters *@
                <form method="get" id="filterForm">

                    <input type="hidden" name="SearchPhrase" value="@Model.Filter.SearchPhrase" />
                    <input type="hidden" name="CategoryId" value="@Model.Filter.CategoryId" />

                    <div class="row">
                        <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                            <select name="DeliveryOption" class="form-select border-secondary-subtle w-100 h-100"
                                    asp-for="Filter.DeliveryOption"
                                    asp-items="Model.DeliveryOptions">
                                <option selected disabled>Delivery Type</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-4 mb-4 mb-sm-0">
                            <h6 class="mb-1">Price (PLN)</h6>
                            <div class="d-flex">
                                <input name="PriceFrom"
                                       type="text"
                                       value="@Model.Filter.PriceFrom"
                                       data-original-value="@Model.Filter.PriceFrom"
                                       class="form-control text-center border-secondary-subtle" />

                                <span class="ms-2 me-2">__</span>

                                <input name="PriceTo"
                                       type="text"
                                       value="@Model.Filter.PriceTo"
                                       data-original-value="@Model.Filter.PriceTo"
                                       class="form-control text-center border-secondary-subtle" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <select name="SortOption" class="form-select border-secondary-subtle w-100 h-100"
                                    asp-for="Filter.SortOption" asp-items="@Model.SortingOptions">
                                <option selected disabled>Sorting options</option>
                            </select>
                        </div>
                    </div>

                </form>

                
            </div>
            @* Offer Lists *@
            <div class="row" id="offerResults">
                @await Html.PartialAsync("OfferPartials/_OfferListPartial", Model.Items)
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#filterForm').on('change', function (e) {

                const query = $('#filterForm').serialize();

                $.ajax({
                    url: '/Offer/FilterOffers',
                    type: 'GET',
                    data: query,
                    success: function (html) {
                        $('#offerResults').html(html);
                    },
                    error: function () {
                        showToast('Something went wrong while filtering offers.', false);
                    }
                });
            });
        });
    </script>
    <script src="~/js/offer-scripts.js"></script>
}

