@model AddOrderViewModel
@{
    ViewBag.Title = "New Order";
}
@section Styles {
    <link rel="stylesheet" href="~/css/auction-styles.css" asp-append-version="true" />
}
<div id="modalContainer"></div>
<div class="container mt-3">
    <div class="row g-3">
        <div class="col-12 col-lg-8">
            <div class="mb-3 midesection-style shadow">
                <div class="row">
                    <div class="col-4">
                        <span>Your Cart</span>
                        <div class="progress" style="height: 20%" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-secondary" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <span class="fw-bold">Delivery</span>
                        <div class="progress" style="height: 20%" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <span>Summary</span>
                        <div class="progress" style="height: 20%" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-secondary" style="width: 100%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3 midesection-style shadow">
                <div class="row">
                    <div class="col-auto mt-2">
                        <h4 class="fw-bold">
                            Details of the recipient of the shipment
                        </h4>
                    </div>
                    <hr class="mt-2" />
                </div>

                <div class="row">
                    <div class="col-auto" id="addressInfo">
                        <ul class="list-unstyled">
                            <li>@Model.UserAddressDetails.CustomerName</li>
                            <li>@Model.UserAddressDetails.Address</li>
                            <li>@Model.UserAddressDetails.PostalInfo</li>
                            <li>@Model.UserAddressDetails.PhoneNumber</li>
                        </ul>
                        <a href="#" asp- class="edit-address-btn purple-text" data-id="@Model.UserAddressDetails.AddressId">Edit Adress</a>
                    </div>

                </div>
            </div>

            <div class="mb-3 midesection-style shadow">
                <div class="row">
                    <div class="col-auto mt-2">
                        <h4 class="fw-bold">
                            Delivery Methods
                        </h4>
                    </div>
                    <hr class="mt-2" />
                </div>

            </div>

            <div class="mb-3 midesection-style shadow">
                <div class="row">
                    <div class="col-auto mt-2">
                        <h4 class="fw-bold">
                            Payment Methods
                        </h4>
                    </div>
                    <hr class="mt-2" />
                </div>
            </div>
        </div>


        <div class="col-12 col-lg-4 midesection-style h-25 p-4 ">
            <div class="row">
                <div class="col-auto">
                    <h4 class="fw-bold">Summary</h4>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <span>Items worth</span>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12 d-flex justify-content-between">
                    <span>Delivery from</span>

                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <span class="fw-bold">Total</span>
                    <h4 class="fw-bold">4000,0PLN</h4>
                </div>
            </div>

            <div class="row">
                <a asp-action="AddOrder" asp-controller="Order" class=" btn custom-button w-100 fw-bold">Place Order</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script>
          // Open modal with form
        $(document).on('click', '.edit-address-btn', function (e) {
            e.preventDefault();
            var addressId = $(this).data('id');

            $.ajax({
                url: '/Address/Edit/' + addressId,
                type: 'GET',
                success: function (html) {
                    $('#modalContainer').html(html);
                    $('#staticBackdrop').modal('show');
                },
                error: function () {
                    alert('Could not load the form.');
                }
            });
        });

        // Handle form submit via AJAX
               $(document).on('submit', '#editAddressForm', function (e) {
            e.preventDefault();

            var form = $(this);
            var actionUrl = form.attr('action');
            var formData = form.serialize();
            let token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: actionUrl,
                type: 'POST',
                data: formData,
                headers: {
                    'RequestVerificationToken': token
                },
                success: function (response) {
                    if ($(response).find('form').length > 0) {
                        $('#staticBackdrop').modal('hide');
                        $('#modalContainer').html(response);
                        $.validator.unobtrusive.parse('#editAddressForm');
                        $('#staticBackdrop').modal('show');
                    } else {
                        $('#staticBackdrop').modal('hide');
                        $('#addressInfo').load(location.href + ' #addressInfo');
                    }
                },
                error: function (xhr) {
                    showToast('Error saving address.', false)
                }
            });
        });
    </script>

}